<?php
    $promotions = $this->getPromotions();
    $i = 0;
?>
<?php if(count($promotions) != '0'): ?>
<div class="page-title category-title">
    <h1>Promotions</h1>
    <div class="slideshow-container">
        <ul class="slideshow">
            <?php foreach($promotions as $image): ?>
                <?php if($image['is_enabled'] == '1'): $i++ ?>
                    <?php if($image['image']){ ?>
                        <li><a href="<?php echo $this->getFront() . $image['id']; ?>"><img src="<?php echo $image['image']; ?>" alt="<?php echo $image['promotions_name']; ?>" /></a></li>
                    <?php }else{ ?>
                        <li><a href="<?php echo $this->getFront() . $image['id']; ?>"><img src="<?php echo Mage::helper('webpromotions')->getImageUrl() . '0.jpg'; ?>" alt="<?php echo $image['promotions_name']; ?>" /></a></li>
                    <?php } ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
        <div class="slideshow-pager">&nbsp;</div>
        <?php if($i > '1'): ?>
            <span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>