<script type="text/javascript">
    var coordinates = <?php echo $this->getMapCoordinates();?>;
    var zoom = <?php echo $this->getZoom();?>;
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: zoom,
            center: {lat: coordinates[0]['latitude'], lng: coordinates[0]['longitude']}
        });

        if (coordinates.length == 1) {
            var marker = new google.maps.Marker({
                position: {lat: coordinates[0]['latitude'], lng: coordinates[0]['longitude']},
                map: map
            });
        }

        for(var i = 1; i < coordinates.length; i++){
            var marker = new google.maps.Marker({
                position: {lat: coordinates[i]['latitude'], lng: coordinates[i]['longitude']},
                map: map
            });
        }
    }
</script>
<script async defer
        src="<?php echo $this->getMapHelper()->getMapsApiUrl('&callback=initMap&language=ru'); ?>">
</script>
