<script type="text/javascript">
    jQuery(document).on("sharingSocialIcons", function(){
        jQuery('#sharing-social-popup').css('display', 'block');
    });
    jQuery('body').on('click', function () {
        jQuery(document).mouseup(function (e){
            var div = jQuery('#sharing-social-popup');
            if (!div.is(e.target)
                && div.has(e.target).length === 0) {
                div.hide();
            }
        });
    });
</script>
<div id='sharing-social-popup' style="display: none">
    <?php echo $this->getChildHtml('social_share'); ?>
</div>