<input id="search" class="controls" type="text" style="position:absolute; z-index:6; width: 300px; left: 30%" placeholder="Search Box">
<div id="map" style="width:1000px; height:700px"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTk3BWf3kXDNnFQe5ACY0dYDcoH9HuR1M&libraries=places">
</script>
<script type="text/javascript"><!--
    jQuery('#ourstore_tabs_map').on('click', function () {
        if(map === undefined){
            initMap();
        }
    })

    var map;

    function initMap() {
        var center = new google.maps.LatLng(<?php echo $this->getLatitude(); ?>,<?php echo $this->getLongitude(); ?>);
        var myOptions = {
            zoom: 10,
            center: center,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);

        addMarker(center,map);

        google.maps.event.addListener(map, 'click', function(event) {
            addMarker(event.latLng, map);
        });

        var label = '*';

        var marker;

        function addMarker(location, map) {
            marker && marker.setMap(null);
            marker = new google.maps.Marker({
                position: location,
                label: label,
                draggable:false,
                map: map
            });
            var latitude = location.lat()
            var longitude = location.lng();
            setCoords('latitude', latitude);
            setCoords('longitude', longitude);
        }

        var search = new google.maps.places.SearchBox(document.getElementById('search'));

        google.maps.event.addListener(search, 'places_changed', function () {
            var places = search.getPlaces();
            var bounds = new google.maps.LatLngBounds();

            for(var i = 0; place = places[i];i++){
                bounds.extend(place.geometry.location);
                addMarker(place.geometry.location, map);
            }

            map.fitBounds(bounds);
            map.setZoom(14);
        });
    }

    function setCoords(alias, value) {
        jQuery('input[name="map[' + alias + ']"').val(value);
    }

    --></script>
<input type="hidden" name="map[latitude]" value="<?php echo $this->getLatitude(); ?>"/>
<input type="hidden" name="map[longitude]" value="<?php echo $this->getLongitude(); ?>"/>
