<div id="window_entrance" class="window_content">
    <a href="#" class="window_close">&times;</a>
    <div class="account-login">
        <div class="page-title">
            <img src="<?php echo Mage::getBaseUrl('skin') . "/frontend/spyshop/default/images/SpyShop-Logo-Transparent.png"  ?>" />
        </div>
        <?php echo $this->getChildHtml('customer.form.login.extra')?>
            <?php echo $this->getBlockHtml('formkey'); ?>
            <div class="col2-set">

                <!--Web4pro-->
                <?php if($this->getRequest()->isSecure() == false): ?>
                    <iframe allowtransparency="true" class="iframe-register" frameborder="0" name="iframe-customer"
                            src="<?php echo Mage::getUrl('web4prounsecurehttp', array('_secure' => true)); ?>"
                      scrolling="no" ></iframe>
                    <!--Web4pro-->
                <?php else: ?>
                    <div class="col-1 new-users">
                        <?php echo $this->getChildHtml('customer_form_register')?>
                    </div>
                <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form">
                    <input name="form_key" type="hidden"
                           value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                    <div class="col-2 registered-users">
                        <div class="content">
                            <h2><?php echo $this->__('Registered Customers') ?></h2>
                            <ul class="form-list">
                                <li>
                                    <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                                    <div class="input-box">
                                        <input placeholder="<?php echo $this->__('E-Mail'); ?>" type="text" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address') ?>" />
                                    </div>
                                </li>
                                <li>
                                    <label for="pass" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                                    <div class="input-box">
                                        <input placeholder="<?php echo $this->__('Password'); ?>" type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="<?php echo $this->__('Password') ?>" />
                                    </div>
                                </li>
                                <?php echo $this->getChildHtml('form.additional.info'); ?>
                            </ul>
                            <div class="buttons-set">
                                <div class="forgot-password">
                                    <div class="fpass">
                                        <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left"><?php echo $this->__('Forgot Your Password?') ?></a>
                                    </div>
                                    <button type="submit" class="button" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <?php endif; ?>
            </div>
        <script type="text/javascript">
            //<![CDATA[
            var dataForm = new VarienForm('login-form', true);
            //]]>
        </script>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    $j(function() {
        $j('#account, .open-form').on('click', function (e) {
            $j('.window_content a.window_close').on('click', function(e) {
                e.preventDefault();
                $j(this).parent().removeClass('opened');
                $j('#window_overlay').removeClass('opened');
            });
            e.preventDefault();
            $j('.window_content').addClass('opened');
            $j('#window_overlay').addClass('opened');
        });

        $j(document).keyup(function(e) {
            if (e.keyCode == 27)
            {
                $j('.window_content').removeClass('opened');
                $j('#window_overlay').removeClass('opened');
            }
        });
    });
    //]]>
</script>

