<?php $_product = Mage::registry('current_product'); ?>
<?php echo $this->getChildHtml('likes_config'); ?>
<a class="link-like" id="product-like-<?php echo $_product->getId() ?>" onclick="productLikes.addProductLike(<?php echo $_product->getId()?>);">
    <span class="2 icon ib ic ic-heart"><?php echo $_product->getProductLikes() ?></span>
</a>
