<select name="rating" id="">
<?php for($i = 1; $i <= 5; $i++): ?>
    <option value="<?php echo $i ?>" <?php if($this->getRatingValue() == $i): ?> selected="selected" <?php endif; ?>><?php echo sprintf('%s ' . $this->__('star(s)'), $i); ?></option>
<?php endfor; ?>
</select>