<div class="block block-subscribe call-me-section">
		<!--Web4pro Edit controller url 'callme' => 'callmeproduct' -->
    <form action="<?php echo Mage::getUrl('callmeproduct'); ?>" method="post" id="callme-form" class="newsletter-validate-detail">
		<!--Web4pro -->
        <div class="block-content kontakt_meg">
            <label for="phone_email" class="call-me-prod-label form-subscribe-header2"><?php echo $this->__('Vil du bli kontaktet angående dette produktet?') ?></label>
            <div class="call-me-prod-input input-box">
                <input type="text" name="phone" id="phone_email" onclick="textareaMessage()" placeholder="<?php echo $this->__('E-post eller telefonnummer') ?>" title="<?php echo $this->__('E-post eller telefonnummer') ?>" class="input-text required-entry" />
                <div id="textarea-message-id" class="no-display">
                    <i onclick="hiddenTextarea()" class="fa fa-close fa-2x"></i>
                    <textarea name="message" id="hidden-textarea" class="form-control" placeholder="<?php echo $this->__('Skriv gjerne noen raske ord om hva du lurer på...') ?>"></textarea>
                </div>
		<!--Web4pro Add honeypot input-->
                <input type="hidden" name="name_hidden" value=""/>
		<!--Web4pro-->
                <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button button-kontakt-meg"><span><span><?php echo $this->__('Kontakt meg') ?></span></span></button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('callme-form');
    //]]>

    function textareaMessage() {
         document.getElementById('textarea-message-id').className = 'textarea-message';
    }

    function hiddenTextarea() {
        document.getElementById('hidden-textarea').value='';
        document.getElementById('textarea-message-id').className = 'no-display';
    }

</script>
