<?php
/**
 * Brands block
 *
 * @see Brander_OurStores_Block_View_Brands
 */
?>
<h1><?php echo $this->__('Brands'); ?></h1>
<div class="brands-description">
    <?php echo $this->getBrandsDescription(); ?>
</div>
<?php $items = $this->getBrands(); ?>
<div class="itemslider-wrapper itemslider-new-wrapper slider-arrows1 slider-arrows1-pos-top-right slider-pagination1">
    <div id="brands-slider">
        <div class="itemslider-holder">
            <?php foreach ($items as $item): ?>
                <div class="item">
                    <div class="item-inner">
                        <div class="product-image-wrapper" style="max-width:100px;">
                            <div class="clearer" style="display:block !important;"></div>
                            <div id="brand-<?php echo $item['label'];?>">
                                <ul class="bare-list">
                                    <li>
                                        <a href="<?php echo $item['url'] ?>">
                                            <?php if ($item['img']): ?>
                                                <img src="<?php echo $item['img'] ?>" />
                                            <?php else: ?>
                                                <?php echo $this->htmlEscape($item['label']) ?>
                                            <?php endif ?>
                                            <?php if ($this->getShowCounts()) { echo '&nbsp;<span class="count">('.$item['cnt'].')</span>'; } ?>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <?php if (Mage::helper('brander_shop')->getSlidesCounterConfig()): ?>
            <div class="itemslider-num"><span></span></div>
        <?php endif; ?>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(function($) {

            var owl = $('#brands-slider .itemslider-holder');
            owl.owlCarousel({
                responsiveRefreshRate: 50,
                slideSpeed: 200,
                paginationSpeed: 500,
                stopOnHover: true,
                rewindSpeed: 600,
                rewindNav: false,
                autoPlay: 5000,
                pagination: false,

                afterInit: function() {
                    $('.item .product-name').dotdotdot();

                    <?php if (Mage::helper('brander_shop')->getSlidesCounterConfig()): ?>
                    owlMobileCalculator('brands-slider', jQuery);
                    <?php endif; ?>
                },

                afterMove: function() {
                    <?php if (Mage::helper('brander_shop')->getSlidesCounterConfig()): ?>
                    owlMobileCalculator('brands-slider', jQuery);
                    <?php endif; ?>
                }

            }); //end: owl

        });
        //]]>
</script>