<?php
/**
 * @see Brander_OurStores_Block_View_Image
 */
?>
<div id="images" class="images">
    <img src="<?php echo $this->getImagesPreviewStore(); ?>"/>
</div>
<a href="<?php echo $this->getImagesPreviewStore(); ?>" class="button gallery" id="store-images-button">
    <?php echo $this->getImageHelper()->__('All Foto'); ?>
</a>
<div id="store-images" class="store-images" style="display: none;">
   <?php foreach ($this->getImagesStore() as $imageUrl): ?>
        <?php /*if($imageUrl != $this->getImagesPreviewStore()): */?>
            <img class="gallery" src="<?php echo $imageUrl; ?>"  rel="group" />
        <?php /*endif;*/?>
    <?php endforeach; ?>
</div>

<script type="text/javascript">
    /*jQuery('#store-images-button').on('mouseup', function () {
        jQuery("a.gallery").fancybox().trigger('click');
    });*/


    (function($){
        $('#store-images-button').on('click', function(event){
            event.preventDefault();
            block = $('#store-images').clone();
            block.attr('class', 'fancy-slider slider-pagination1').removeAttr('style').find('a').each(function(){
                $(this).find('img').attr('src', $(this).attr('href')).removeAttr('style').unwrap().unwrap().unwrap();
                fancyWidth = $(this).find('img').outerWidth();
            });
            $.fancybox.open({
                content: block,
                width: (window.innerWidth - 100),
                height: 'auto',
                autoSize: false,
                autoScale: true,
                padding: 0,

                afterLoad: function(){
                    setTimeout(function(){
                        $('.fancy-slider').owlCarousel({
                            itemsCustom: [ [0, 1], [1200, 1] ],
                            pagination: true,
                            navigation: true
                        });
                    }, 500);
                }
            });
            return false;
        });
    })(jQuery);

</script>
