<?php
/**
 * Pager template
 *
 * @see Brander_OurStores_Block_View_Toolbar_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>

    <?php if($this->getUseContainer()): ?>
    <div class="pager">
    <?php endif ?>

    <?php if($this->getShowAmounts()): ?>
    <p class="amount">
        <?php if($this->getLastPageNum()>1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        <?php endif; ?>
    </p>
    <?php endif ?>

    <?php if($this->getShowPerPage()): ?>
    <div class="limiter">
        <label><?php echo $this->__('Show') ?></label>
        <select onchange="setLocation(this.value)">
        <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
            <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                <?php echo $_limit ?>
            </option>
        <?php endforeach; ?>
        </select><span class="per-page"> <?php echo $this->__('per page') ?></span>
    </div>
    <?php endif ?>

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pages">
        <strong><?php echo $this->__('Page:') ?></strong>
        <ol>
            <li onclick='pagination("<?php echo  $this->getPreviousPageUrl() ?>", "<?php echo $this->getCollection()->getCurPage(-1); ?>")' class="previous">
                <div class="previous" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Previous')) ?>"><i class="ic ic-left"></i><span><?php echo Mage::helper('core')->quoteEscape($this->__('<')) ?></span></div>
            </li>

        <?php if ($this->canShowFirst()): ?>
            <li onclick='pagination("<?php echo  $this->getFirstPageUrl() ?>" , "1")'><div class="first">1</div></li>
        <?php endif;?>

        <?php if ($this->canShowPreviousJump()): ?>
            <li onclick='pagination("<?php echo  $this->getPreviousJumpUrl() ?>","<?php echo $this->getPreviousJumpPage(); ?>")'><div class="previous_jump">...</div></li>
        <?php endif;?>

        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <li class="current"><?php echo $_page ?></li>
            <?php else: ?>
                <li onclick='pagination("<?php echo  $this->getPageUrl($_page) ?>","<?php echo $_page; ?>")'><div><?php echo $_page ?></div></li>
            <?php endif;?>
        <?php endforeach;?>


        <?php if ($this->canShowNextJump()): ?>
            <li onclick='pagination("<?php echo  $this->getNextJumpUrl() ?>","<?php echo $this->getNextJumpPage(); ?>")'><div class="next_jump">...</div></li>
        <?php endif;?>

        <?php if ($this->canShowLast()): ?>
          <li onclick='pagination("<?php echo  $this->getLastPageUrl() ?>", <?php echo $this->getCollection()->getLastPageNumber(); ?>)'><div class="last"><?php echo $this->getLastPageNum() ?></div></li>
        <?php endif;?>

            <li onclick='pagination("<?php echo $this->getNextPageUrl() ?>", "<?php echo $this->getCollection()->getCurPage(+1); ?>")' class="next">
                <div class="next" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Next')) ?>"><span><?php echo Mage::helper('core')->quoteEscape($this->__('>')) ?></span><i class="ic ic-right"></i></div>
            </li>
        </ol>

    </div>
    <?php endif; ?>

    <?php if($this->getUseContainer()): ?>
    </div>
    <?php endif ?>

<?php endif ?>
<?php $currentStore = Mage::registry('current_store'); ?>
<?php $ourstoreId = Mage::registry('ourstore_id'); ?>
<?php $ourstoreId = $ourstoreId ? $ourstoreId : $currentStore->getId(); ?>
<script type="text/javascript">
    var ourstore_id = "<?php echo $ourstoreId; ?>";
</script>