<?php
/**
 * @see Brander_OurStores_Block_View_Review
 */
?>
<div class="box-collateral box-reviews" id="customer-reviews">
    <?php $reviews = $this->getChild('review_list')->getChild('pager')->getCollection(); ?>
    <?php if($reviews->count()): ?>
        <h1><?php echo $this->__('Reviews Store'); ?></h1>
    <?php endif; ?>
    <?php echo $this->getChildHtml('review_list'); ?>
    <div class="form_wrapper">
        <div class="form-add">
            <h3><?php echo $this->__('Leave a review'); ?></h3>
            <form class="form" method="post" id="review-form">
                <input name="form_key" type="hidden"
                       value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"/>
                <div class="stars-block">
                    <h4><?php echo $this->__('Please, rate the store'); ?></h4>
                <fieldset>
                    <span id="input-message-box"></span>
                    <table class="data-table" id="product-review-table">
                        <thead>
                        <tr class="first last">
                            <th>&nbsp;</th>
                            <th>
                                <span class="nobr"><?php echo $this->helper('brander_ourstores')->__('1 Star'); ?></span>
                            </th>
                            <th>
                                <span class="nobr"><?php echo $this->helper('brander_ourstores')->__('2 Stars'); ?></span>
                            </th>
                            <th>
                                <span class="nobr"><?php echo $this->helper('brander_ourstores')->__('3 Stars'); ?></span>
                            </th>
                            <th>
                                <span class="nobr"><?php echo $this->helper('brander_ourstores')->__('4 Stars'); ?></span>
                            </th>
                            <th>
                                <span class="nobr"><?php echo $this->helper('brander_ourstores')->__('5 Stars'); ?></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="first last odd">
                            <th>
                                <span class="label required"><?php echo $this->helper('brander_ourstores')->__('Rating'); ?></span>
                            </th>
                            <?php for ($i = 1; $i <= Brander_OurStores_Block_City::QTY_STARS; $i++): ?>
                                <td class="value">
                                    <input type="radio" name="rating" value="<?php echo $i ?>"
                                           class="radio validation-passed"/>
                                    <label for="<?php echo $this->escapeHtml($i) ?>_<?php echo $i ?>"></label>
                                </td>
                            <?php endfor; ?>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" name="validate_rating" class="validate-rating validation-failed" value="">
                    <script type="text/javascript">decorateTable('product-review-table')</script>
                </fieldset>
                </div>
                <ul class="form-list reviews-list">
                    <?php $customerName = $this->getCustomer()->getFirstname(); ?>
                    <li>
                        <input type="<?php echo $customerName == true ? 'hidden' : 'text'; ?>" id="customer-name"
                               name="customer_name" class="input-text required-entry validation-passed"
                               placeholder="<?php echo $this->__('Name'); ?>"
                               value="<?php echo $customerName; ?>"/>
                    </li>
                    <li>
                      <textarea name="review_description" id="review-description"
                                cols="30"
                                rows="10"
                                placeholder="<?php echo $this->__('Briefly describe your opinion about the store'); ?>"
                                class="required-entry required-entry"></textarea>
                    </li>
                    <div id="save-review"
                         class="button"><?php echo $this->helper('brander_ourstores')->__('Give Review'); ?></div>

                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<?php $url = Mage::getUrl('ourstores/review/save'); ?>
<script type="text/javascript">
    var url = "<?php echo $url; ?>";
    var currentStoreId = <?php echo Mage::registry('current_store')->getId(); ?>;
    var inProgress = false;
    jQuery('#save-review').on('click', function () {
        reviewCommentSave();
    });
    jQuery("td.value").hover(function() {
        jQuery(this).find('label').addClass('act');
        var aa = jQuery(this).parent().parent().siblings();
        var bb = jQuery(this).prevAll();
        var cc = bb.size();
        var left_star = jQuery(this).position().left;
        var width_star = jQuery(this).width();
        var width_name = jQuery(this).parent().parent().siblings().find('th').eq(cc).width();
        var dd = jQuery(this).parent().parent().siblings().find('th').eq(cc);
        var position_name = left_star - (width_name - width_star)/2;

        jQuery(this).parent().parent().siblings().find('th').eq(cc).css('visibility','visible');
        dd.css('left', position_name);

    }, function() {
        jQuery(this).find('label').removeClass('act');
        jQuery(this).parent().parent().siblings().find('th').css('visibility','hidden');
    });
</script>