<?php
/**
 * Toolbar for viewers
 *
 * @see Brander_OurStores_Block_View_Toolbar_Pager
 */
?>
<?php $pager = $this->getChild('pager'); ?>
<?php $reviews = $pager->getCollection(); ?>
<?php if ($reviews->count()): ?>
        <div id="reviews-list" class="reviews-list">
            <div id="reviews">
                <?php foreach ($reviews as $review) : ?>
                    <div class="review-box">
                        <div class="review-user-inf">
                            <div class="review-name"><?php echo $review->getCustomerName(); ?></div>
                            <div class="rating-box">
                                <div class="rating"
                                     style="width:<?php echo $this->getRating($review->getRating()); ?>"></div>
                            </div>
                            <div class="created-at"><?php echo $this->getDateCreate($review); ?></div>
                        </div>
                        <div class="review-description"><?php echo $review->getReviewDescription(); ?></div>
                    </div>
                <?php endforeach; ?>
                <?php if ($pagerHtml = trim($this->getChildHtml('pager'))): ?>
                    <div class="pager">
                        <?php echo $this->getChildHtml('pager'); ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
<?php endif; ?>