<?php
/**
 * Our Store View
 *
 * @see Brander_OurStores_Block_City
 */
?>
<?php $currentStore = Mage::registry('current_store'); ?>
<?php $currentStoreDescription = Mage::registry('current_description'); ?>
<div class="right-column">
    <div class="box-reviews">
    <div class="rating-box">
        <div class="rating" style="width:<?php echo $this->getRatingPercent() ?>"></div>
    </div>
    <?php $qtyReview = $this->getQtyReview($currentStore->getId()); ?>
    <?php if($qtyReview > 0): ?>
        <?php $textQtyReviews = $this->helper('brander_ourstores/review')->getTextQtyReviews($qtyReview); ?>
        <div class="reviews"><?php echo $qtyReview . ' ' . $textQtyReviews; ?></div>
    <?php else: ?>
        <div id="review-comment"><?php echo $this->getImageHelper()->__('Give Review'); ?></div>
    <?php endif; ?>
    </div>
    <div class="work-traffic">
        <span><?php echo $this->getImageHelper()->__('From %s To %s ', $currentStore->getWorkTimeFrom(), $currentStore->getWorkTimeTo()); ?></span>
        <div class="work-comment"><?php echo $this->getImageHelper()->__($currentStoreDescription->getWorkTimeComment()); ?></div>
    </div>
    <div class="description">
        <?php echo $this->getImageHelper()->__($currentStoreDescription->getDescription()); ?>
    </div>
    <?php echo $this->getChildHtml('store_images'); ?>
</div>
<script>
    jQuery(function ($) {
        $('#review-comment').on('click', function () {
            $('#review-description').focus();
        });
    })
</script>