<?php
/**
 * Our Store View
 *
 * @see Brander_OurStores_Block_View
 */
?>
<h1 id="page-title" class="page-title"><?php echo $this->__('City %s, %s', $this->getCityName(), $this->getOurstore()->getAddress()); ?></h1>
<div class="stores-data">
    <div id="map" style="width: 70%; height: 585px; "></div>
    <?php echo $this->getChildHtml('map'); ?>
    <?php echo $this->getChildHtml('right_column'); ?>
</div>
<?php echo $this->getChildHtml('store_brands'); ?>
<div class="button">
    <a href="<?php echo $this->getUrl('catalog'); ?>"><?php echo $this->helper('brander_ourstores')->__('Catalog products'); ?></a>
</div>