<style text="text/css">
    .quickOrderCheckout
    {
        clear: right;
        float: right;
        padding-left: 20px;
        width: 40%;
    }
</style>
<?php $total = $this->helper('checkout/cart')->getQuote()->getGrandTotal(); ?>
<?php if($this->getMinAmount() < $total): ?>
<div class="quickOrderCheckout">
    <div class="page-title">
        <h1><?php echo Mage::helper('webqorder')->__('Quick Order') ?></h1>
    </div>
    <?php if( !$this->getCustomer()->getOrigData() ): ?>
        <form action="<?php echo $this->getFormAction(); ?>" id="contactForm" method="post" class="scaffold-form">
            <div class="fieldset">
                <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                <!--            <h2 class="legend">--><?php //echo Mage::helper('webqorder')->__('Contact Information') ?><!--</h2>-->
                <!--            <p class="required">--><?php //echo Mage::helper('webqorder')->__('* Required Fields') ?><!--</p>-->
                <ul class="form-list">
                    <li class="fields ">
                        <div class="field">
                            <label for="firstname" class="required"><em>*</em><?php echo Mage::helper('webqorder')->__('First Name') ?></label>
                            <div class="input-box">
                                <input name="firstname" id="firstname" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Name')) ?>" value="" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="lastname" class="required"><em>*</em><?php echo Mage::helper('webqorder')->__('Last Name') ?></label>
                            <div class="input-box">
                                <input name="lastname" id="lastname" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('webqorder')->__('Surname')) ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="required" ><em>*</em><?php echo Mage::helper('webqorder')->__('Email') ?></label>
                            <div class="input-box">
                                <input name="email" id="email" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('webqorder')->__('Email')) ?>" value="" class="input-text validate-email required-entry" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="telephone"><?php echo Mage::helper('webqorder')->__('Telephone') ?></label>
                        <div class="input-box">
                            <input name="telephone" id="telephone" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('webqorder')->__('Telephone')) ?>" value="" class="input-text" type="tel" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttons-set">
                <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('webqorder')->__('Submit')) ?>" class="button"><span><span><?php echo Mage::helper('webqorder')->__('Submit') ?></span></span></button>
            </div>
        </form>
    <?php else: ?>
        <form action="<?php echo $this->getFormAction(); ?>"  method="post" >
            <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <input name="name" value="<?php echo $this->getCheckout()->getQuote()->getCustomer()->getFirstname();  ?>" type="hidden" />
            <input name="surname" value="<?php echo $this->getCheckout()->getQuote()->getCustomer()->getLastname();  ?>" type="hidden" />
            <input name="email" value="<?php echo $this->getCheckout()->getQuote()->getCustomer()->getEmail();  ?>" type="hidden" />
            <?php if($this->getCustomer()): ?>
            <?php endif; ?>
            <div class="button btn-cart">
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('webqorder')->__('Submit')) ?>" class="button"><span><span><?php echo Mage::helper('webqorder')->__('Submit') ?></span></span></button>
            </div>
        </form>
    <?php endif; ?>
    <?php endif; ?>
</div>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
