<?php if($this->initMap() && $this->getLatitude() && $this->getLongitude()): ?>
<div id="map" style="height: 500px; width: 100%;"></div>
<script>
    function initMap() {
        var uluru = {
            lat: <?php echo $this->getLatitude() ?>,
            lng: <?php echo $this->getLongitude() ?>
        };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: uluru
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="<?php echo $this->initMap(); ?>">
</script>
<?php endif; ?>
