<?php
/**
 * Our Store View
 *
 * @see Brander_OurStores_Block_View
 */
?>
<?php foreach ($this->getOurStoreCity() as $city): ?>
    <div class="page-title">
        <h1><?php echo $city['name']; ?></h1>
    </div>
    <?php foreach ($city as $key => $value): ?>
        <?php if ($key != 'name'): ?>
            <div class="city">
                <a href="<?php echo $this->getUrl($value->getUrlKey()); ?>">
                    <?php if ($imagePath = $this->getImageUrl($value->getImagePreview())): ?>
                        <div class="image-preview">
                            <img src="<?php echo $imagePath; ?>" alt="" width="150px"/>
                        </div>
                    <?php endif; ?>
                    <div class="address">
                        <span class="map-icon map-icon-postal-code-prefix"></span>
                        <span class="city"><?php echo $city['name']; ?></span>
                        <span class="address-description"><?php echo $value->getAddress(); ?></span>
                    </div>
                </a>
<div class="right-info">
                <div class="work-time">
                        <span><?php echo $this->getImageHelper()->__('From %s To %s ', $value->getWorkTimeFrom(), $value->getWorkTimeTo()); ?></span>
                        <div class="work-comment"><?php echo $this->getImageHelper()->__($value->getWorkTimeComment()); ?></div>
                    </div>
                    <div class="box-collateral box-reviews" id="customer-reviews">
                        <div class="rating-box">
                            <div class="rating"
                                 style="width:<?php echo $this->getRatingPercent($value->getId()) ?>"></div>
                        </div>
                        <?php $qtyReview = $this->getQtyReview($value->getId()); ?>
                        <?php if ($qtyReview > 0): ?>
                            <?php $textQtyReviews = $this->helper('brander_ourstores/review')->getTextQtyReviews($qtyReview); ?>
                            <div class="reviews"><?php echo $qtyReview . ' ' . $textQtyReviews; ?></div>
                        <?php else: ?>
                            <a href="<?php echo $this->getUrl($value->getUrlKey()); ?>"><?php echo $this->getImageHelper()->__('Give Review'); ?></a>
                        <?php endif; ?>
                    </div>
</div>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endforeach; ?>
<?php if (!count($this->getOurStoreCity())): ?>
    <div class="not-found"><?php echo $this->getImageHelper()->__('Not Found!'); ?></div>
<?php endif; ?>


