<?php $cityArray = $this->getCitiesArray() ?>
<div class="city-select">
    <select name="city_id" id="city_id" placeholder="<?php echo $this->__('Select city') ?>">
    <?php foreach ($cityArray as $key => $city): ?>
        <option value="<?php echo $key; ?>"><?php echo $city; ?></option>
    <?php endforeach; ?>
    </select>
</div>
<script type="text/javascript">
    var url = "<?php echo $this->getUrl('ourstores/index/cityFilter'); ?>";
    jQuery('#city_id').change(function () {
        var city_id = jQuery('#city_id option:selected').val();
        var cityFilter = new Ajax.Request(url, {
            method: 'post',
            parameters: {city_id: city_id},
            onSuccess: function(transport) {
                if (transport.status == 200) {
                    jQuery('#list-city').empty();
                    jQuery('#list-city').append(transport.responseText);
                }
            },
        });
    });
</script>