<div id="ourstores-wrapper">
    <div class="page-title">
        <h1><?php echo $this->helper('brander_ourstores')->__('Our Stores'); ?></h1>
    </div>
    <div class="action">
        <div id="cities" class="cities">
            <?php echo $this->getChildHtml('filter'); ?>
        </div>
        <div class="switcher">
            <?php echo $this->getChildHtml('switch'); ?>
        </div>
    </div>
    <div id="list-city" class="list-city">
        <?php echo $this->getChildHtml('list_city'); ?>
    </div>
    <div id="map" style="height:800px; width:100%; display: none"></div>
    <?php echo $this->getChildHtml('map'); ?>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery("input:radio:checked").prev().addClass('checked');
        jQuery('input:radio').on('click', function () {
            jQuery("input:radio:checked").prev().addClass('checked');
            jQuery("input:radio:checked").prev().siblings().removeClass('checked');
        });
    })

</script>