<?php $switchNames = $this->getSwitchNames();?>
<?php foreach ($switchNames as $key => $name): ?>
    <label for="<?php echo $key; ?>"><?php echo $this->helper('brander_ourstores')->__($name); ?></label>
    <input type="radio" <?php if($key== Brander_OurStores_Block_List_Switch::LISTNAME): ?> checked="checked" <?php endif; ?>
           name="switch"
           id="<?php echo $key; ?>"
           value="<?php echo $key; ?>"/>
<?php endforeach; ?>
<script type="text/javascript">
    jQuery("input[name='switch']").change(
        function () {
            if(this.value === 'map-page'){
                jQuery('#list-city').css('display','none');
                jQuery('#cities').css('display','none');
                jQuery('#map').css('display','block');
                initMap();
            }else{
                jQuery('#map').css('display','none');
                jQuery('#list-city').css('display','block');
                jQuery('#cities').css('display','block');
            }
        });
</script>