<div class="balance">
    <div class="current-balance">
        <span class="text-balance"><?php echo $this->__('Current Balance:'); ?></span>
        <span class="current-balance-value"><?php echo $this->getBalance(); ?></span>
    </div>
</div>