<div class="button" data-bind="text: btnTypeMess, click: setType" data-id="btn-settype"></div>
<div data-bind="if: formVisible" data-id="form-settype">
    <form class="form-type-popup">
        <div class="input-wrapper" data-bind="foreach: formData">
            <div class="input-box">
                <label for="name" data-bind="text: value"></label>
                <input type="text" data-bind="attr: {class: key, name: key, id: key}" class="required">
            </div>
        </div>
    </form>
</div>
<script>
    function ProposeType() {
        var self = this;
        this.formVisible = ko.observable(false);
        this.formData = [
            {
                'key': 'firstLastName',
                'value' : 'Firstname and LastName'
            },
            {
                'key': 'phone',
                'value': 'Phone'
            },
            {
                'key': 'description',
                'value': 'Description'
            }
        ];

        this.btnTypeMess = "Send Type";

        this.setType = function() {
            if(this.formVisible() === false) {
                return this.formVisible(true);
            }
            return this.formVisible(false);
        };
    };

    var ProposeType = new ProposeType();

    (function($) {
        $(document).click(function(event) {
            //TODO refactor
            if(!$(event.target).closest('[data-id="form-settype"]').length && !$(event.target).closest('[data-id="btn-settype"]').length) {
                return ProposeType.formVisible(false);
            }
            return ProposeType.formVisible(true);
        });
    })(jQuery);

    ko.applyBindings(ProposeType);
</script>