/**
 * Webmeridian - Creating profitable online stores
 *
 * @author    vlad.y@webmeridian.org
 * @category  Webmeridian
 * @package   Webmeridian_ShowInventory
 * @copyright Copyright (c) 2017 Webmeridian
*/
/*@color-red: #ff0000;*/
/*@font-size: 19px;*/
/*@width: 150px;*/
.item-options
{
  position:relative;
  clear: both;
}

.product_inventory_qty
{
  margin-top:5px;
  margin-bottom:5px;
  width:150px;

}

.product_inventory_qty .qty.inventory
{
  font-size:16px;

  color: red;
}

.minicart-items .product_inventory_qty .qty.inventory
{
  font-size:14px;
}

.minicart-price .product_inventory_qty
{
  margin-left:10%;
  display: inline-block;
}

.minicart-price .product_inventory_qty .qty.inventory
{
  font-size:14px;
}