<!-- ko if: display -->
    <div class="wrapper title-history">
        <h2><?php echo $this->__('Balance History'); ?></h2>
    </div>
    <div class="data-table">
        <table>
            <thead>
            <tr data-bind="foreach: dataLabelArray">
                <th data-bind="text: incoming"></th>
                <th data-bind="text: purpose_payment"></th>
                <th data-bind="text: balance"></th>
                <th data-bind="text: created_at"></th>
                <th data-bind="text: ttn"></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: {data: dataArray}">
                <tr>
                    <td data-bind="text: incoming"></td>
                    <td data-bind="text: purpose_payment"></td>
                    <td data-bind="text: balance"></td>
                    <td data-bind="text: created_at"></td>
                    <td data-bind="text: ttn"></td>
                </tr>
            </tbody>
        </table>
    </div>
<!-- /ko -->
<script>
    var labels = <?php echo $this->getBalanceLabelsJson(); ?>;
    var values = <?php echo $this->getBalanceValuesJson(); ?>;
    var sizeData = <?php echo $this->getBalanceValuesSize(); ?>;

    ko.applyBindings(new CustomerBalance(labels, values, sizeData));
</script>